cloudpickle==3.1.1
Farama-Notifications==0.0.4
gymnasium==1.1.1
-e git+https://github.com/pythonpedro99/JEPAWorld.git@a7dba1600b405b9ec9783685c8a3f4e86b9fec15#egg=miniworld&subdirectory=Miniworld
numpy==2.2.5
pillow==11.2.1
pyglet==1.5.31
tqdm==4.67.1
typing_extensions==4.13.2
